body {
  margin: 0;
}
/* 各种纵向填充容器和防止滚动条出现 */
html,
body,
#root,
.el-container,
.el-tabs,
.el-tabs__content,
.el-tab-pane {
  height: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
}
/* 阿里矢量图 自引入的图标的样式 */
.indexIcon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
       font-size:30px;
       margin-right:10px;
}
/* 布局容器搞毛padding？？ */
.el-header,
.el-main {
  padding: 0;
}
.el-loading-mask{
  z-index: 666666666666666
}
/* 取消iframe默认大小和边框 */
.el-tab-pane iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* 修正el-tabs的纵向填充容器问题 */
.el-tabs__content {
  box-sizing: border-box;
  margin-top: -40px;
  border-top-style: solid;
  border-top-width: 40px;
  border-top-color: rgba(0, 0, 0, 0);
}

/* 修正el-tabs__content（上一修改）覆盖header问题 */
.el-tabs__header {
  z-index: 1;
}

.el-menu:not(.el-menu--collapse) {
  width: 200px;
}

/* 隐藏菜单滚动条 */
.aside-menu {
  margin-right: -18px !important;
  overflow: hidden scroll !important;
}
/*在谷歌浏览器上 .aside-menu设置的margin-right: -18px 不能遮住
滚动条 遂将滚动条的层级设低 以此解决上述问题 但因此产生一个问题 就是当滚动条出现
的时候右侧的菜单收缩按钮没有办法点击 有待修复*/
::-webkit-scrollbar {
    z-index:-123;
}

/* 遮挡隐藏的滚动条 */
.main-tabs {
  background-color: #B4EEB4
}

/* 头部收缩按钮 */
.header-collapse-button {
  display: block !important;
  width: 100% !important;
  padding: 3px !important;
  text-align: justify !important;
}

/*.header-collapse-button:hover {
  padding: 10px !important;
}*/

/* 菜单收缩按钮 */
.menu-collapse-button {
  padding: 3px !important;
  height: 100% !important;
}

/*.menu-collapse-button:hover {
  padding: 10px !important;
}*/

/* 避免vue未加载前出现难看的花括号 */
#root {
  visibility: hidden;
}

/* chrome浏览器flex和height：100%冲突的解决方法 */
.el-main .el-container {
  position: absolute;
  width: 100%;
  height: 100%
}

.el-main {
  position: relative
}

.el-tabs__header {
  margin: 0
}